@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.5;
  padding: 0px calc(100% - 1200px);
  min-width: 320px;
  min-height: 100vh;
  background-color: #F0EBE3;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */



.layout {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .content-wrapper {
  position: relative;
  display: block;
  max-width: 1368px;
  width: 90%;
  margin: auto;
}




header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  place-items: center;
  align-content: center;
  width: 100%;
  height: 100px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.logo span {
  color: #535bf2;
}


.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: min-content;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}


.nav-link a {
  color: #1a1a1a;
  text-decoration: wavy;
}

.nav-link a:active {
  color: #af1010;
}

.underline {
  background-color: gold;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.nav-link:hover .underline {
  width: 100%;
}

.contact-container {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container:hover .underline {
  width: 100%;
}





.content {
  width: 50%;
  margin: 150px 0;
}

/* .name-container {
  border: solid;
} */

.subtitle {
  font-family: 'Caveat','Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;
}